<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College AI Assistant</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1> College AI Assistant</h1>
            
            <p>Ask me anything about your college</p>
        </div>
        
        <div class="chat-box">
                <div class="bot-message">
                        Hello! How can I help you?
                </div>
                <div class="user-message">
                    What courses are available?
                </div>
                <div class="bot-message">
                    Our college offers various B.Tech courses.
                </div>
        </div>
        <div class="input-area">
              <input 
                 type="test" 
                 placeholder="Ask your question...">
        <button>Send</button>
    </div>
    </div>
</body>
</html>